body {
  margin: 0 auto;
  background-color: #131313;
  width: 360px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}
.theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.theme_bright {
  background: #fee42a;
  color: #131313;
}

.main-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
}

.content-section {
  box-sizing: border-box;
  padding: 0 20px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 80px;
}

.header__logo {
  float: left;
  height: 100%;
}

.header__menu {
  float: right;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ul-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__menu-item {
  padding: 0;
  margin: 0;
  width: fit-content;
}

.header__menu-item-text {
  color: #f5f5f5;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px; /* 120% */
  border-bottom: #f5f5f5 solid 1px;
}

.menu-active {
  border-bottom: none;
}

.cover {
  margin: 13px 0 3px 0;
  padding: 0 24px 30px 20px;
  background-image: url("../images/cover.png");
  background-repeat: no-repeat;
  background-position: 0% 115%;
  background-origin: content-box;
  background-clip: padding-box;
}

.cover-text-line {
  display: block;
  font-family: "EB Garamond";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.intro {
  padding: 0 20px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
  /* Подбирал попиксельно вручкую */
}

.intro__heading {
  display: flex;
  color: #ccc;
}

.intro__heading_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%; /* 19.2px */
}

.intro__heading_date {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.intro__main-text {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 21.6px; /* 135% */
}

.reasons {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 24px 20px;
  gap: 32px;
}

.content-section__subtitle {
  display: block;
  font-family: "EB Garamond";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
}

.content-section__introduction {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
}

/* У списков какие-то свои приколы с отступами, поэтому я сбросил всё и настраивал вручкую, чтобы совпадало с макетами */
.intro-ul {
  margin: 0;
}

.intro-li {
  margin-left: 12px;
  padding-left: 5px;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  margin-bottom: 16px;
}

.intro-li-bold-text {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px; /* 135% */
}

.how-to {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 60px 20px;
  gap: 32px;
}

.how-to-card {
  border-radius: 30px;
  padding: 20px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.how-to-card-name {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 21.6px */
}

.how-to-card-title {
  font-family: "EB Garamond";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 29.7px */
}

.how-to-card-text {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
}

.card-dark {
  background: #343434;
}

.card-light {
  background: #fee42a;
}

.square_100px {
  width: 100px;
  height: 100px;
  /* Возможно, можно было сделать через сохранение оригинального размера картинки */
  border-radius: 50%;
  background: url(<path-to-image>),
    lightgray 0px -4.095px / 100% 118.534% no-repeat;
}

.footer {
  border-top: 1px solid #fee42a;
  padding: 20px;
  display: flex;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
}

.footer-subblock {
  display: flex;
  gap: 16px;
  margin-left: auto;
  padding: 0;
  flex-direction: row;
  list-style: none;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}

.footer-subblock a {
  text-decoration: none;
  color: inherit;
}