body {
  margin: 0;
  background-color: var(--black-bg, #131313);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.border {
  border: 1px dashed gray;
  /* Использую этот класс для выравнивания объектов, включая там, где нужно по необходимости */
}

.theme_dark {
  background-color: var(--black-bg, #131313);
  color: var(--text-light, #f5f5f5);
  color: red;
}

.theme_bright {
  background: var(--yellow-bg, #fee42a);
  color: var(--black-bg, #131313);
  color: red;
}

.main-content {
  width: 360px;
  height: 4160px;
  /* Добавил из макетов, но, кажется, что в идеале не нужно фреймиться, чтобы макет адаптировался под разные девайсы */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
}

.content-section {
  box-sizing: border-box;
  padding: 0 20px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo {
  float: left;
  height: 100%;
}

.header__menu {
  float: right;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ul-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__menu-item {
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.menu-active {
  text-decoration: none;
}

.cover {
  margin: 40px 0 35px 0;
  padding-left: 20px;
  background-image: url("../images/cover.svg");
  background-repeat: no-repeat;
  background-position: 20px;
  /* Подбирал смещение вручкую */
}

.cover-title {
  display: block;
  margin-top: -30px;
  /* Подбирал смещение вручкую */
}

.intro {
  padding: 0 20px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
  /* Подбирал попиксельно вручкую */
}

.intro__heading {
  display: flex;
  color: red; 
  /* color: var(--text-gray, #ccc); */
}

.intro__main-text {
  width: 320px;
}

.reasons {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 32px;
}

.content-section__subtitle {
  text-align: left;
  /* Кажется, что это избыточно, но почему-то без такого шага ломалось */
}

.content-section__subtitle_right {
  text-align: right;
}

  /* У списков какие-то свои приколы с отступами, поэтому я сбросил всё и настраивал вручкую, чтобы совпадало с макетами */
ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 16px;
}

li {
  margin-left: 12px; 
  padding-left: 8px;
}

.how-to {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 60px 20px;
  gap: 32px;
}

.how-to-card {
  border-radius: 30px;
  padding: 20px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.card-dark {
  background: var(--gray-bg, #343434);
}

.card-light {
  background: var(--yellow-bg, #fee42a);
}

.portrait-picture {
  width: 100px;
  height: 100px;
  /* Возможно, можно было сделать через сохранение оригинального размера картинки */
  border-radius: 50px;
  background: url(<path-to-image>),
    lightgray 0px -4.095px / 100% 118.534% no-repeat;
}

.footer {
  border-top: 1px solid var(--yellow-bg, #fee42a);
  padding: 20px;
  display: flex;
}

.footer-subblock {
  display: flex;
  gap: 16px;
  margin: auto 0 auto auto;
  /* Сделано для выравнивания по правому краю */
}